@model IEnumerable<WatchShop.Models.Item>
@{
    ViewBag.Title = "ItemByCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <section class="popular-items latest-padding">
        <div class="container">
            <div class="tab-content" id="nav-tabContent">
                <!-- card one -->
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row">
                        @foreach (var item in Model)
                        {

                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                <div class="single-popular-items mb-50 text-center">
                                    <div class="popular-img">
                                        <img src="@Html.DisplayFor(modelItem => item.image)" alt="">
                                        <div class="img-cap">
                                            <span><a href="@Url.Action("AddToCart", "Cart", new { @id = item.id, @Url = Request.Url.ToString() })">Add to cart</a></span>
                                        </div>
                                        <div class="favorit-items">
                                            <span class="flaticon-heart"></span>
                                        </div>
                                    </div>
                                    <div class="popular-caption">
                                        <h3><a href="/Item/Detail/@item.id">@Html.DisplayFor(modelItem => item.name)</a></h3>
                                        <span>@Html.DisplayFor(modelItem => item.price) VND</span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>

        <!-- End Nav Card -->
    </section>
